.App {
  text-align: center;
  position: static;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 0px) !important;
  color: white
}


/* 
.mapStyles{
  width: 50%;
  height:50%;
  display: flex !important;
  justify-content: center !important;
} */